*~
.ccls
.ccls-cache
.deps
.dirstamp
Makefile
Makefile.in
\#*
aclocal.m4
autoconfig.h
autom4te.cache/
build-aux/
config.log
config.status
configure
doc/*.html
doc/refdoc
inc/stamp-h2
inc/upnp/
inc/upnpconfig.h
libnpupnp.pc
libtool
m4/
macos/build-libnpupnp-Desktop_Qt_5_14_2_clang_64bit-Release/
stamp-h1
upnp/Makefile
windows/build-libnpupnp-Desktop_Qt_5_8_0_MinGW_32bit-Debug/
windows/qmk/libnpupnp.pro.user

subprojects/packagecache
