*~
\#*
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
configure
m4/
Makefile
autoconfig.h
config.log
config.status
libnpupnp.pc
libtool
stamp-h1
upnp/Makefile
upnp/inc/stamp-h2
upnp/inc/upnpconfig.h
.deps/
.dirstamp
