Source: libnpupnp
Section: libs
Priority: optional
Homepage: https://www.lesbonscomptes.com/upmpdcli/
Vcs-Browser: https://framagit.org/medoc92/npupnp
Vcs-Git: https://framagit.org/medoc92/npupnp.git
Maintainer: Jean-Francois Dockes <jf@dockes.org>
Build-Depends: debhelper-compat (=12),
               pkg-config,
               meson,
               libexpat1-dev,
               libmicrohttpd-dev,
               libcurl4-gnutls-dev
Rules-Requires-Root: no
Standards-Version: 4.6.2

Package: libnpupnp13
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: UPnP library, based on Pupnp code, extensively rewritten
 As its predecessor, libupnp, libnpupnp provides developers with an
 API and open source code for building control points, devices, and
 bridges that are compliant with Version 1.0 of the Universal Plug and
 Play Device Architecture Specification - see http://www.upnp.org/ for
 specifications.

Package: libnpupnp-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libnpupnp13 (= ${binary:Version})
Conflicts: libnpupnp2-dev
Multi-Arch: same
Description: Development package for the npupnp UPnP library
 based on Pupnp code, but extensively rewritten. As its predecessor, it
 provides developers with an API and open source code for building control
 points, devices, and bridges that are compliant with Version 1.0 of the
 Universal Plug and Play Device Architecture Specification - see
 http://www.upnp.org/ for specifications.
